<div id="success">
  <h1 style="color:red;">  Loading... </h1>
</div>

<script>
  $(document).ready(function(){
    // var delayInSeconds = 5;
    // var delayInMilliseconds = delayInSeconds*1000;

    // function startTimer () {
    //     timer.start();
    //     setTimeout(stopTimer,delayInMilliseconds);
    // }

    // function stopTimer () {
    //     timer.stop;
    // }

    $.ajax({
        type: "get",
        url: "/upload_part_0",
        data: {which_part:0},
        success:function(data){
          $("#success").html(data);
          return false;
        },
        error:function(data) {
          alert(JSON.parse(data));
          return false;
        },
        timeout: 1000000 // sets timeout to 3 seconds
      });

    // setTimeout(function() {
    //   $.ajax({
    //     type: "get",
    //     url: "/upload_part_1",
    //     data: {which_part:1},
    //     success:function(data){
    //       $("#success").html(data);
    //       return false;
    //     },
    //     error:function(data) {
    //       alert(JSON.parse(data))
    //       return false;
    //     },
    //     timeout: 200000// sets timeout to 3 seconds
    //   }); 
    // }, 5000);

});

</script>